################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentLibrary/.vs/PaymentLibrary
/PaymentLibrary/PaymentLibrary/obj
/PaymentLibrary/PaymentLibrary.Tests/obj
/PaymentLibrary/PaymentLibrary.Tests/bin/Debug/netcoreapp3.1
